/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
    margin: 0;
}
/**
 * Render the `main` element consistently in IE.
 */
main {
    display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
    background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
    font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
    font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
    border-style: none;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
    overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
    text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
    padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
    vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
    overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
    display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
    display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
    display: none;
}
/**
 * Add the correct display in IE 10.
 */

[hidden] {
    display: none;
}

/*Псевдораспорка для блоков с float*/
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/*Убираем текст placeholder при фокусе на input*/
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

/* класс visually-hidden для скринридера*/
.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

/*Блок-центровщик*/
.grid{
    width: 1004px;
    margin: 0 auto;
    box-sizing: border-box;
}

/*Стили верхней части header*/
.header-top{
    background: linear-gradient(to top left, #4b83a6, #6293b1);
    color: #fff;
}
.header-top-wrap{
    display: flex;
    justify-content: space-between;
    padding: 50px 25px 20px 45px;
}

/*Блок лого в шапке*/
.header-logo{
    position: relative;
    text-decoration: none;
    color: #fff;
}
.header-logo::before{
    content: "";
    display: inline-block;
    width: 48px;
    height: 50px;
    background: url("../image/header/logo.png");
    top: -30px;
    left: -30px;
    position: absolute;
    background-size: cover;
}
.header-logo__title-logo{
    font-size: 28px;
    font-family: "AdobeFangsongStd", "Californian FB", Serif;
    line-height: 0.75;
}
.header-logo__subtitle-logo{
    font-size: 16px;
    font-family: "Microsoft New Tai Lue", Arial, sans-serif;
    margin-top: 6px;
    margin-left: 4px;
}

/*Телефон в шапке*/
.header-phone{
    font-size: 24px;
    font-family: "ACaslonPro", "Goudy Old Style", Serif;
    color: rgb(255, 255, 255);
    line-height: 1.417;
}
/*Стили второго блока хэдера*/
.header-middle{
    background-color: #d7d7d7;
}
.header-middle-wrap{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px 12px 15px;
}
.header-nav__list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.header-nav__item{
    display: inline-block;
    margin-right: 10px;
}
.header-nav__item a{
    font-size: 16px;
    font-family: "MS Sans Serif", Arial, sans-serif;
    color: rgb(58, 83, 98);
    text-decoration:  none;
    padding: 0 15px;
}
.header-nav__item a:hover{
    opacity: 0.7;
}
.sign-block a{
    font-size: 16px;
    font-family: "MS Sans Serif", Arial sans-serif;
    color: rgb(58, 83, 98);
    text-decoration:  none;
    padding: 5px;
}
.sign-block a:hover{
    opacity: 0.7;
}
.line-bottom{
    height: 4px;
    background-color: #4b83a6;
}
.header-bottom{
    background: linear-gradient(to bottom, #2d698f, #3786b7);
}
.header-bottom__wrap{
    display: flex;
    justify-content: space-between;
    padding: 18px 25px 18px 28px;
}
.slider-features{
    width: 505px;
    height: 340px;
    border: 9px solid #f2e8e8;

}
.slider-features__photo{
    width: 487px;
    height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #3686b8;
}
.slider-features__text{
    background-color: #1a425a;
    height: 100%;
    padding-left: 25px;
}
.slider-features__title{
    display: block;
    font-size: 20px;
    font-family: Arial, "Trebuchet MS", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.7;
}
.slider-features__description{
    display: block;
    font-size: 14px;
    font-family: Arial, "Trebuchet MS", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 2.429;
}
.slick-dots li button::before{
    color: #fff;
    opacity: 1;
    font-size: 12px;
    top: 12px;
}
.slick-dots li.slick-active button::before{
    color: #2c5f7f;
}
.form-tenants-owners{
    /*background: linear-gradient(to top, #5b9cc4, transparent);*/
    background-color: transparent;
}
.form-tenants-owners__tenants-check, .form-tenants-owners__owners-check{
    display: none;
}
.form-tenants-owners__switch-form label{
    display: inline-block;
    background-color: #c2f2ed;
    font-size: 22px;
    font-family: "Arial Rounded MT Bold", Arial, sans-serif;
    line-height: 0.955;
    margin-right: 2px;
    color: #4b83a6;
    padding: 18px 30px 12px 40px;
    border-radius: 12px 12px 0 0 ;
    cursor: pointer;
}
input.form-tenants-owners__owners-check:checked ~ .form-tenants-owners__switch-form label.form-tenants-owners__owners-label{
    color: #ffffff;
    background-color: #5796bd;
}
input.form-tenants-owners__tenants-check:checked ~ .form-tenants-owners__switch-form label.form-tenants-owners__tenants-label{
    color: #ffffff;
    background-color: #5796bd;
}
.form-tenants-owners__tenants{
    display: inline-block;
    width: 420px;
    height: 330px;
    background: linear-gradient(to bottom, #5796bd, transparent);
    border-radius: 0 12px 0 0 ;
    color: #ffffff;
    font-size: 16px;
    font-family: "Arial", sans-serif, Calibri;
    padding: 20px 38px 0 38px;
    box-sizing: border-box;

}
.form-tenants-owners__owners{
    display: inline-block;
    width: 420px;
    height: 330px;
    background: linear-gradient(to bottom, #5796bd, transparent);
    border-radius: 0 12px 0 0 ;
    color: #ffffff;
    font-size: 16px;
    font-family: "Arial", sans-serif, Calibri;
    padding: 20px 38px 0 38px;
    box-sizing: border-box;
}
#owners-check:checked ~ .form-tenants-owners__tenants{
    display: none;
}
#tenants-check:checked ~ .form-tenants-owners__owners{
    display: none;
}
.form-tenants-owners__address-tenants{
    border: 3px solid #bbb;
    border-radius: 10px;
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
    display: block;
    margin: 15px 0;
}
.form-tenants-owners__tenants input:focus{
    border: 3px solid #316e94;
    font-size: 17px;
    font-family: "Myriad Pro", Arial, sans-serif, Calibri;
    color: #347095;
    outline: none;
}
.form-tenants-owners__include-suburbs{
    margin: 0 4px 15px 9px;
}
.form-tenants-owners__property{
    display: flex;
    justify-content: space-between;
}
.form-tenants-owners__bedroom{
    display: flex;
    justify-content: flex-end;
}
.form-tenants-owners__property{
    margin-bottom: 18px;
}
.form-tenants-owners__property label{
    line-height: 2;
    margin-left: 9px;
}
.form-tenants-owners__bedroom label{
    line-height: 2;
    margin-right: 22px;
}
.form-tenants-owners__select{
    width: 203px;
    border: 3px solid #bbb;
    border-radius: 5px;
    padding: 8px 0 8px 20px;
    box-sizing: border-box;
}
.form-tenants-owners__search-room{
    border: 3px solid #bbb;
    border-radius: 10px;
    width: 210px;
    box-sizing: border-box;
    font-size: 22px;
    font-family: "Arial", Calibri, sans-serif;
    background: linear-gradient(to top, #4a8ab3, #6bb2dd);
    color: #ffffff;
    margin-top: 30px;
    padding: 10px 0 10px 0;
    float: right;
    line-height: 1;
}
.column-buy-sell{
    background: linear-gradient(to top, #c2f2ed, #eefffd);
}
.column-buy-sell__wrap{
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
}
.column-buy-sell__buy, .column-buy-sell__sell, .column-buy-sell__buy{
    width: 285px;
}
.column-buy-sell__buy{
    margin-left: 28px;
}
.column-buy-sell__title{
    color: #4484ad;
    font-size: 22px;
    font-family: "Arial", Calibri, sans-serif;
    text-decoration: none;
}
.column-buy-sell__desc{
    color: #43515a;
    font-size: 13px;
    font-family: "Arial", Calibri, sans-serif;
    line-height: 1.692;
    margin: 24px 0;
}
.column-buy-sell__title::before{
    content: "";
    display: inline-block;
    width: 32px;
    height: 31px;
    background: url("../image/content/home.png");
    background-size: cover;
    vertical-align: bottom;
    margin-right: 7px;
}
.block-photo{
    display: inline-block;
    width: 220px;
    height: 202px;
    border-radius: 0 0 5px 5px;
    background-color: #4f8fb7;
    color: #ffffff;
    text-decoration: none;
}
.block-photo__wrap-photo{
    width: 208px;
    height: 135px;
    box-sizing: border-box;
    overflow: hidden;
    background: url("../image/content/photo-for-block.png") center no-repeat;
}
.block-photo__border-photo{
    border: 6px solid #bbbbbb;
    display: inline-block;
}
.block-photo__text{
    width: 170px;
    display: inline-block;
}
.block-photo__desc-photo{
    display: inline-block;
    font-family: "MS Sans Serif", Arial, Calibri;
    font-size: 17px;
    margin-left: 10px;
    margin-top: 5px;
}
.block-photo__subdesc-photo{
    display: inline-block;
    font-size: 15px;
    font-family: "Arial", Calibri, sans-serif;
    margin-left: 10px;
    margin-top: 4px;
}
.block-photo__searching-icon{
    display: inline-block;
    vertical-align: center;
}
.block-photo__searching-icon::after{
    content: "";
    display: inline-block;
    width: 33px;
    height: 33px;
    background: url("../image/content/searching-icon.svg");
    background-size: cover;
}
.galery-element{
    margin: 0 19px 20px 0;
}
.gallery-content__wrap{
    padding-top: 21px;
    padding-left: 28px;
    padding-bottom: 10px;
}